html {
  --bg: #efefef;
  --fg: #1e1e1e;
  --gray: #555;
  --light-gray: #ccc;
  --shadow: #e6e6e6;
  --success: rgb(90, 206, 132);
  --primary: #FF585D;
  --blue: #0072CE;
  --green: #74B200;
  --red: #E34A4A;

  --text-secondary: rgba(0, 0, 0, 0.45);
}